<a href="https://colab.research.google.com/github/JaeKyunKo/Engineering_Department_Tutoring/blob/main/Tutoring_Data_Type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Type in Python**

본격적인 Python 수업에 들어가기 앞서 Python에서는 어떤 data type이 있는지 알아야한다

**Python에서는 크게 5가지의 data type이 있다고 생각하면 편하다**

* integer (int) : 1, 2, 10, 100, -1, ... (양수, 음수)

* string (str) : "Hello World", "100", .... (글자)

* float (float) : 10.1, 3/5, ... (정수가 아닌 수) 

* list (list) : [], [1,2,3,4,5], ["32", 30], .... (데이터를 저장하는 형태)

* boolean : True, False,...

In [23]:
numInt = 10
numFloat = 10.1
wordNew = "100"
lstNew = list()
blnNew = True

Python에서 data type을 확인하기 위해서는 type() 함수를 사용하면 된다

In [24]:
print(type(numInt))
print(type(numFloat))
print(type(wordNew))
print(type(lstNew))
print(type(blnNew))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'bool'>

그러면 data type을 변환하고 싶은 상황에는 어떻게 해야할까?

In [25]:
#integer to float
numInt = float(numInt)
#float to string
numFloat = str(numFloat)
#string to integer
wordNew = int(wordNew)

In [26]:
print(type(numInt), numInt)
print(type(numFloat), numFloat)
print(type(wordNew), wordNew)

<class 'float'> 10.0
<class 'str'> 10.1
<class 'int'> 100

Python에서는 data type을 선언하지 않기 때문에 조심해야 할 부분이 있다

Python3에서는 정수를 정수로 나눌 시 이들의 data type이 float으로 자동으로 변환된다

In [27]:
numOne = 10
numTwo = 2
numNew = numOne / numTwo
print(type(numNew), numNew)

<class 'float'> 5.0

In [28]:
for i in range(numNew) :
  print(i)

TypeError: ignored

In [29]:
for i in range(int(numNew)) :
  print(i)

0
1
2
3
4