<a href="https://colab.research.google.com/github/JaeKyunKo/Engineering_Department_Tutoring/blob/main/Tutoring_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
""" 
interger 
선언할 때는 
variableName = 숫자
"""
a = 3
c = 2

In [ ]:
"""
String(Charater)
선언할 때는 
variableName = "문자열"
"""
b = "Hello World"
d = "Good Bye"

In [ ]:
print(a)
print(b)

In [ ]:
"""
Operation(연산)
사칙연산 : +, -, *, /
변수가 int or float 
변수가 string
var1 Operation var2
"""
add = a + c
print(add)

In [ ]:
print(b + " " + d)

In [ ]:
"""
Complex Operation
+=, -=. *=, /=
exmaple) a = a + 2 -> a += 2
"""
a += 2
print(a)

In [ ]:
"""
Python -> 나누기를 하면 Data Type Float로 바뀜
Data Type Conversion
int(variableName) -> Interger로 바뀜
float(variableName) -> Float로 바뀜
str(variableName) -> String로 바뀜
"""
k = 3
p = 6
print(p/k)
print(type(int(p/k)))

In [ ]:
"""
Operation Priority
** > *, / > +, -
% -> 나머지 (Remainder)
// -> 몫
"""
print(3%2)
print(4//2)

In [ ]:
"""
출력 시 소수점 몇 자리까지 출력하고 싶다
print("%.5f" %variableName)
"""
t = 1/3
print("%.5f" %t)

In [ ]:
#안녕하세요
#이 코드에 어느 부분을 수정하세요

In [ ]:
"""
데이터를 입력하는 방법
"""
variableName = int(input()) #Data Type : String
print(variableName**2)